.carousel {
    width: 100%;
    height: 100%;
}

.pai {
    width: 100%;
    height: 100%;
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.inner {
    display: flex;
}

.item {
    min-height: fit-content;
    min-width: fit-content;
}

.carousel {
    cursor: grab;
    overflow: hidden;
}