body {
    padding: 0%;
    margin: 0;
}

li {
    list-style-type: none;
}

.profile {
    background-color: #08323d;
    color: #e63617;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80.4vh;
    margin: 0%;
    /* text-align: left; */
}

.h2-container {
    background-color: white;
    width: 100%;
    text-align: center;
}

.profile h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #e63617;
}

.ul-perfil {
    margin: 20px;
    padding: 0;
}

.li-perfil p {
    border: 1px solid #e63617;
    border-radius: 8px 0;
    padding: 8px;
}

.user-info {
    /* align-self: flex-start; */
    background-color: white;
    color: #e63617;
    padding: 10px;
    margin: 30px;
    border-radius: 18px 0;
}

.user-info p {
    font-size: 18px;
    margin-bottom: 10px;
}

.user-info p strong {
    font-weight: bold;
}